.BottomBar {
  display: flex;
  background-color: #1e1e1e;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px;
  gap: 20px;
}

.dropdown {
  position: relative;
  background-color: #1e1e1e;

}

.dropdown-button-bottom-bar {
  background-color: #000000;
  color: #ff0000 !important;
  padding: 10px 14px;
  font-size: 13px;
  border-radius: 10px;
  border: 2px solid rgb(35, 35, 35);
  cursor: pointer;
  font-weight: bold;
}

.dropdown-button-bottom-bar:hover {
  background-color: #444;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 480px;
  background-color: #000000;
  color: #6d6d6d;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}
.dropdown-item .launch-btn{
    font-size: 13px !important;
    color: black;
    background-color: red;
    padding: 5px;
    font-weight: bold;
    border: 1px solid white ;
    border-radius: 5px;

}
.dropdown-item .launch-btn:hover{
  background-color: #9c0000;
}
.dropdown-item:last-child {
  border-bottom: none;
}

.command {
  background-color: #1c1c1c;
  padding: 6px;
  border-radius: 4px;
  color: greenyellow;
  font-size: 12px;
  overflow-x: auto;
}


