.floating-box-explorer {
  position: fixed;      /* fuera del flujo del DOM y fijo en la pantalla */
  top: 10px;           /* distancia desde la parte superior */
  left: 100px;          /* distancia desde la izquierda */
  z-index: 9999;        /* asegúrate de que esté por encima de otros elementos */
  background: rgb(0, 0, 0);
  border: 1px solid #ccc;
  padding: 16px;
  width: 100vh;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 500px;
  overflow: scroll;
}



.directory-list{
  list-style:none;
  margin-left: -20px;
}

.directory-list li {
  cursor: pointer;
  margin: 5px 0px;
  color: white;
}

.directory-list li:hover{
  color: greenyellow;
}