.listener-cpanel{
    border: 2px solid rgb(85, 85, 85);
    overflow-y: scroll;
    margin: 10px 20px;
    padding: 10px;
}

.listener-ul{
    margin: 20px 0;
}

.listener-cpanel h1{
    margin: 20px 10px;
}
.listener-cpanel button{
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.listener-li-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    padding: 4px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.listener-li{
    border-top: 2px solid red;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    padding: 4px;
}




.listener-panel,  .implant-panel{
    width: auto;
    position: fixed;
    left:40%;
    top: 10%;
    z-index: 1;
    width: 400px;
    padding: 30px;
    max-height: 400px;
    overflow-y: scroll;
    border-radius: 10px;
}

.listener-panel *, .implant-panel *,.listener-panel, .implant-panel {
    background-color: rgb(40, 40, 40);
    color: black;
}
.listener-panel form{
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    margin: 20px;

}
.listener-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listener-title button{
    background-color: rgb(230, 97, 97);
    border: none;
    cursor: pointer;
}
.listener-panel form input{
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
}

.listener-panel form select{
    padding: 5px;
    border-radius: 4px;
}
.listener-panel form select{
    margin: 10px 0;
}
.listener-panel form button{
    background-color: black;
    color: chartreuse;
    margin-top: 20px;
    cursor: pointer;
}



/*implant*/

.implant-panel form{
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    margin: 20px;

}
.listener-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listener-title button{
    background-color: rgb(230, 97, 97);
    border: none;
    cursor: pointer;
}
.implant-panel form input{
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
}

.implant-panel form select{
    padding: 5px;
    border-radius: 4px;
    color: white;
}
.implant-panel form select option{
    color: white;
}
.implant-panel form select{
    margin: 10px 0;
}
.implant-panel form button{
    background-color: black;
    color: chartreuse;
    margin-top: 20px;
    cursor: pointer;
}

.listener-li-opt{
    border: 2px solid red !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}