.terminal-container {
  width: 100%;
  color: #f5f5f5;
  font-family: monospace;
  border-radius: 6px;
  box-shadow: 0 0 10px #000;
  min-height: 100%;
}

.terminal-header {
  display: flex;
  gap: 8px;
  padding: 8px;
  background-color: #333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}

.terminal-dot {
}
.terminal-dot-icon{
  background-color: transparent !important;

}

.terminal-dot.red {
  color: #ff5f56;
  background-color: transparent !important;
}
.terminal-dot.yellow {
  background-color: transparent !important;
  color: #ffbd2e;
}
.terminal-dot.green {
  background-color: transparent !important;
  color: #27c93f;
}

.terminal-body {
  padding: 16px;
  padding-bottom: 50px;
  opacity: 1;
  overflow: scroll;
  height: 100%;
}
.terminal-line {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  font-family: monospace;
  font-size: 18px;
  background-color: black;
  color: rgb(3, 255, 7);
}

.prompt {
  color: #a225eb !important;
  margin-right: 6px;
  white-space: nowrap;
  flex-shrink: 0;
}

.terminal-input {
  background: transparent;
  border: none;
  color: rgb(55, 255, 0);
  flex: 1;
  font-size: 18px;
  font-family: monospace;
  outline: none;
}



.terminal-response {
  text-overflow: ellipsis;
  margin-left: 20px;
  color: #2bff00;
  font-size: 18px;
  white-space: pre-wrap;
}


.guide-btn{
  cursor: pointer;
  background-color: yellow;
  color: black;
  border: 2px solid #000;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
}

.alert-guide{
  width: 400px;
  height: 400px;
  font-size: 17px;
}

.alert-guide div{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.alert-guide div button{
  background-color: #ff5f56;
  border-radius: 3px;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5 all;
}
.alert-guide div button:hover{
  background-color: #ff1f13;
}

.alert-guide h4{
  margin-top: 20px !important;
  margin-bottom: 7px !important;
}
.alert-guide pre{
  background-color: #2a2a2a;
  color: #27c93f;
  border-radius: 10px;
  margin: 1px;
  padding: 5px;
}


@media(max-width: 1458px){

  
  .terminal-line, .terminal-input, .terminal-response, .prompt{
    font-size: 16px;
  }
  
}

@media(max-width: 1312px){
  
  .terminal-line, .terminal-input, .terminal-response, .prompt{
    font-size: 13px;
  }
  
}

@media(max-width: 1068px){
  
  .terminal-response{
    font-size: 10px;
    margin-left: 0px;
  }
  
  .terminal-line, .terminal-input, .prompt{
    font-size: 10px ;
  }

}

@media(max-width: 1090px){
  
  .terminal-response{
    font-size: 8px;
  }
  .terminal-container{
    overflow-x: scroll;
  }

}
@media(max-width: 750px){
  

  .alert-guide{
    width: 350px !important;
  }

}
@media(max-width: 480px){
  
  .alert-guide{
    left: 1% !important;
    overflow-y: scroll;
  }

}

