.terminal-container {
  width: 100%;
  color: #f5f5f5;
  font-family: monospace;
  border-radius: 6px;
  box-shadow: 0 0 10px #000;
  min-height: 100%;
}

.terminal-header {
  display: flex;
  gap: 8px;
  padding: 8px;
  background-color: #333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}

.terminal-dot {
}
.terminal-dot-icon{
  background-color: transparent !important;

}

.terminal-dot.red {
  color: #ff5f56;
  background-color: transparent !important;
}
.terminal-dot.yellow {
  background-color: transparent !important;
  color: #ffbd2e;
}
.terminal-dot.green {
  background-color: transparent !important;
  color: #27c93f;
}

.terminal-body {
  padding: 16px;
  height: 400px;
  opacity: 1;
  overflow: scroll;
  height: 100%;
}
.terminal-line {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  font-family: monospace;
  font-size: 18px;
  background-color: black;
  color: rgb(3, 255, 7);
}

.prompt {
  color: #a225eb !important;
  margin-right: 6px;
  white-space: nowrap;
  flex-shrink: 0;
}

.terminal-input {
  background: transparent;
  border: none;
  color: rgb(55, 255, 0);
  flex: 1;
  font-size: 18px;
  font-family: monospace;
  outline: none;
}



.terminal-response {
  margin-left: 20px;
  color: #2bff00;
  font-size: 18px;
  white-space: pre-wrap;
}
