.navbar{
    background-color: transparent;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    }

.navbar li{
    border: 2px solid  #1e1e1e;;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    max-width: 300px;
    color: #00ff00;
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.2s;
}
.navbar li:hover .nav-icons{
    background-color: rgb(0, 255, 0);
    color: #000000 !important;
}
.navbar li:hover{
    background-color: rgb(0, 255, 0);
    color: #000000;
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 11px 20px;
    cursor: pointer;
}


.navbar button{
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: none;
    color: rgb(125, 125, 125);
    background: rgb(189, 189, 189);

}

.botnet_status_btn{
    background-color: red !important;
    color: black !important;
    font-weight: bold;
}


.botnet_status_btn:hover{
    
    background-color: rgb(189, 0, 0);
}

.logout-btn{
    border: none;
    font-size: 30px !important;
    color: #00b300 !important;
    background-color: black !important;
    transition: color 0.5s;
    cursor: pointer;
    max-height: 70px;
}
.logout-btn:hover{
    color: #00ff00 !important;

}

.nav-icons{
    text-align: center;
    background-color: transparent !important;
    color: rgb(37, 148, 0);
    margin-left: 3px;
    transition: all 0.2s;
}

.navbar img{
    position: relative;
    opacity: 0.8;
    width: 140px;
    margin: 5px;
    border-radius: 50%;
    right: 12%;
}

.navbar-user{
    color: white;
    position: absolute;
    font-weight: bold;
    left: 85%;
    top: 30px;
}

.navbar-user span{
    color: #00b300;
}